.registry-list {
    display: flex;
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px lightgray;
    h1,
    p {
        margin: 0px 10px;
    }
}
.registry-list:hover {
    background-color: rgb(185, 247, 247);
}

.dashboard {
    background-color: rgb(247, 247, 247);
}
