.logo {
    width: 80px;
}
header {
    background-image: url("../images/header-background.jpg");
    width: 100%;
    box-shadow: 1px 1px 7px black;
    padding: 10px 0px;
    position: fixed;
    z-index: 999;
    margin: 1px;
    .row {
        justify-content: space-between;
        align-items: center;
        img {
            padding: 0px 20px;
        }
    }

    .title {
        font-family: "Great Vibes", cursive;
        color: white;
        font-size: 3rem;
        text-shadow: 3px 3px 3px black;
        display: inline-block;
    }

    .user-icon {
        display: flex;
        color: white;
        i {
            color: white;
            font-size: 2rem;
            padding: 2px;
            font-weight: 900;
        }
    }

    .sign-in {
        display: flex;
        flex-direction: column;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        padding: 0px 20px;
        span {
            color: white;
            font-size: 1.3rem;
            font-weight: 900;
        }
    }
}
