.product-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    max-width: 30%;
    padding: 20px;
    background-color: white;
    margin: 10px;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px lightgray;
    // font-family: Targetica, "Helvetica Neue", Helvetica, Arial, sans-serif;
    img {
        width: 100%;
    }
}

.product-detail {
    h3,
    h4,
    p {
        padding: 13px 0px;
    }
    h3 {
        font-weight: 700;
    }
}

.add-to-registry {
    display: flex;
    border: 1px solid lightgray;
    padding: 8px;
    width: 50%;
    border-radius: 0.2rem;
    img {
        width: 10px;
    }
    button {
        border: none;
        padding: 0px 5px;
        position: relative;
        bottom: 5%;
    }
}
